{% extends 'base.html' %}

{% block title %}Просмотр товара{% endblock title %}

{% block content %}
<div class="card">
    <h5 class="card-header">
        {{ product.name }}
    </h5>
    <div class="card-body">
        <p class="card-text">Ктагория: {{ product.get_category_display }}</p>
        <p class="card-text">Описание: {{ product.description }}</p>
        <p class="card-text">Цена: {{ product.price }} сом</p>
        <p class="card-text">Остаток: {{ product.balance }} шт</p>
        <a href="{% url "product-update" product.id %}" class="btn btn-primary">Изменение товара</a>
        <a href="{% url "product-delete" product.id %}" class="btn btn-primary">Удаление товара</a>

    </div>
</div>

{% endblock content %}